body {
    background-color: pink;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
}

p {
    font-size: 18px;
}


h2 {
    color: purple;
    text-shadow: 1px 1px 3px gray;
}

ul {
    background-color: white;
    border-radius: 10px;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

