.contenedor1{
display:flex;
flex-direction:column;
align-items:flex-end;

width:240px;
height:240px;

border:1px solid black;
}


.contenedor2{
display:flex;
justify-content:center;
align-items:center;

width:240px;
height:240px;

border:1px solid black;
}


.contenedor3{
display:flex;
justify-content:space-between;

width:400px;
height:80px;

border:1px solid black;
}


.rojo{
background:red;
width:80px;
height:80px;
}

.azul{
background:blue;
width:80px;
height:80px;
}

.verde{
background:green;
width:80px;
height:80px;
}